body {
	background-color: #FBF9FF;
	color: rgb(30, 30, 30);
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: lighter;
	line-height: 24px;
}

h1, h2, a {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #0C6291;
	font-weight: 800;
	line-height: 26px;
	letter-spacing: 2px;
	font-size: 26px;
	text-transform: uppercase;
}

h2 {
	color: #009FB7;
	font-size: 18px;
	font-weight: 600;
	line-height: 12px;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: #44CCFF;
	font-weight: 600;
	font-size: 15px;
	line-height: 12px;
	opacity: 0.7;
	transition: 0.25s ease;
}

a:hover {
	opacity: 1;
}

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 960px){
	.container{
		width: 700px;
	}
}

@media (max-width: 720px){
	.container{
		width: 500px;
	}
}

@media (max-width: 540px){
	.container{
		width: 300px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
	transition: 0.3s;
}

.card-white:hover {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #44CCFF;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	opacity: 0.7;
	transition: 0.3s;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 15px;
}

.list-inline i {
	font-size: 40px;
	color: rgb(200, 200, 200);
}

#introduction p {
	margin-bottom: 40px;
}

#introduction img {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid lightgrey;
	transition: 1s;
}

#introduction img:hover {
	width: 150px;
	height: 150px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}